@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .container-busca {
    padding: 20px;
  }

  .resultados {
    width: 95%;
  }

  .box-aplicacao-publicacoes {
      display: flex;
      flex-direction: column;
  }

  .box-aplicacao-publicacoes img {
      width: 100%;
      max-width: 100%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  background-image: linear-gradient(to bottom right, #222, #444);
}

header {
  transition: background-image 1s ease-in-out;
  text-align: center;
  background-color: #222;
  color: #fff;
  padding: 20px;
  background-image: url(../img/header-gemini-teia-shadow-d-opc.png);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 4px #222222;
  position: relative;
  top: -13px;
}

section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

ul {
  list-style: none;
  padding: 0;
}

.imagem {
  filter: blur(5px);
}

.card {
  transform: rotate(-5deg);
}

.botao:hover {
  background-color: #333;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.elemento {
  animation: pulse 2s infinite;
}

ul#habilidades {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f0f0f0;
  margin: 5px;
  padding: 10px;
}

/* Estilos básicos */
input#busca,
button#btn-buscar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 230px;
}

button#btn-buscar {
  transition: all 0.3s ease-in-out;
  background-color: #4caf50; /* Verde */
  color: white;
  cursor: pointer;
  width: 100px;
  margin-left: 10px;
}

/* Estilos para quando o botão está sendo pressionado */
button#btn-buscar:hover {
  background-color: #3e8e41;
}

input#busca,
button#btn-limpar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 230px;
}

button#btn-limpar {
  transition: all 0.3s ease-in-out;
  background-color: #4caf50; /* Verde */
  color: white;
  cursor: pointer;
  width: 100px;
  margin-left: 10px;
}

/* Estilos para quando o botão está sendo pressionado */
button#btn-limpar:hover {
  background-color: #3e8e41;
}

div#content-cofundador {
  margin-top: 10px;
}

/* Estilos para a lista de resultados */
ul#resultados {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f0f0f0;
  margin: 5px;
  padding: 10px;
}

/* Busca */

button#btn-buscar:hover {
  transform: scale(1.05);
}

.container-busca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 20px;
}

.busca {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.busca > label {
  display: inline-block;
  color: #fff;
  margin-right: 10px;
}

.sobre-gemini {
  display: none;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.sobre-gemini div#content-exemplos-de-uso > ul {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px 0 10px 0 !important;
}

.sobre-gemini div#content-exemplos-de-uso ul > li {
  background-color: transparent;
  margin-left: 30px;
  padding: 2px;
}

.resultados {
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

ul#lista-resultados {
  list-style: none;
  padding: 0;
}

ul#lista-resultados > li,
ul#habilidades > li {
  cursor: pointer;
}

ul#lista-resultados > li:hover,
ul#habilidades > li:hover {
  font-style: oblique;
}

/* Box IA */

.sobreIA {
  display: none;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.sobreIA ul.info-ia {
  background-color: #f0f0f0;
  border-radius: 10px;
}

.sobreIA ul.info-ia > li {
  background-color: transparent;
  font-weight: bold;
}

.sobreIA ul.info-ia > li > span {
  font-weight: normal;
  display: flex;
  margin-left: 30px;
  margin-top: 10px;
}

/* Box Aplicação IA */

.aplicacaoIA {
  display: none;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.aplicacaoIA ul.info-ia {
  background-color: #f0f0f0;
  border-radius: 10px;
}

.aplicacaoIA ul.info-ia > li {
  background-color: transparent;
  font-weight: bold;
}

.aplicacaoIA ul.info-ia > li > span {
  font-weight: normal;
  display: flex;
  margin-left: 30px;
  margin-top: 10px;
}

.box-aplicacao-informacoes {
  margin-left: 20px;
}

.box-aplicacao-informacoes h4 {
  margin-top: 40px;
  padding: 0;
}

.box-aplicacao-informacoes p {
  margin: 0;
  padding: 20px 0 20px 0;
}

.box-aplicacao-publicacoes {
  display: flex;
  flex-direction: row;
}

.box-aplicacao-publicacoes img {
  max-width: 320px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.box-aplicacao-publicacoes div {
  margin: 0;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px
}

.box-aplicacao-conteudo {
  display: flex;
  flex-direction: column;
}

.box-aplicacao-conteudo p {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.box-aplicacao-conteudo a {
  text-decoration: none;
}

.box-aplicacao-conteudo a:hover {
  text-decoration: underline;
}


/* Modal */


.modal {
  display: none; /* Inicialmente oculto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  /* margin: 15% auto; */
  margin: 2% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.modal-content img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.modal-content p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 15%;
  border-radius: 10px;
}

.modal-content button:hover {
  opacity: 80%;
}

.modal span.close {
  display: none;
}

.modal figcaption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-style: italic;
}

.btn-fechar {
  background-color: #4caf50; /* Verde */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Footer */

footer {
  background-color: #f2f2f2;
  padding: 30px;
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
}

.social-icons li {
  display: inline-block;
  margin: 0 10px;
}

/* .back-to-top {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;

  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.back-to-top.show {
  opacity: 1;
} */

.back-to-top {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  position: fixed;
  bottom: 20px;
  right: 20px;

  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;

  /* Remova o display: none */
}

.back-to-top.show {
  opacity: 1;
  pointer-events: auto; /* Isso garante que o botão seja clicável quando visível */
}

footer ul > li {
  display: inline-flex;
  margin-top: 0;
  cursor: pointer;
}

footer ul > li a {
  text-decoration: none;
}

footer ul > li:hover {
  text-decoration: underline;
  font-style: oblique;
}

footer ul#footer-links-uteis {
  margin-top: 0;
  margin-bottom: 0;
}
