body {
    font-family: 'Poppins', sans-serif; /* Fonte padrão */
  }

  .roboto {
    font-family: Roboto, sans-serif;
  }
  
  .font-example {
    font-size: 24px;
    line-height: 1.5;
  }
  
  .poppins {
    font-family: 'Poppins', sans-serif;
  }
  
  .montserrat {
    font-family: 'Montserrat', sans-serif;
  }
  
  .nunito {
    font-family: 'Nunito', sans-serif;
  }
  
  .courier-new {
    font-family: 'Courier New', monospace;
  }
  
  .source-code-pro {
    font-family: 'Source Code Pro', monospace;
  }
  
  .fira-code {
    font-family: 'Fira Code', monospace;
  }
  
  .merriweather {
    font-family: 'Merriweather', serif;
  }
  
  .pt-serif {
    font-family: 'PT Serif', serif;
  }
  
  .libre-baskerville {
    font-family: 'Libre Baskerville', serif;
  }